:root {
    --main-color: rgb(68, 105, 68);
}

@font-face {
    font-family: 'Norse Bold';
    src: url(../Norse-Bold.otf);
  }

* {
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0;
    background-color: rgb(241, 243, 245);
}
#background-img {
    height: 100vh;
    z-index: 1;
}

#container {
    display: grid;
}

#container > div {
    padding-left: 3em;
}

#top-container {
    padding-top: 1.5em;
    margin-right: 15em;
}

#top-container > p {
    font-size: 1.5em;
    font-weight: 700;
}

#middle-container {
    background-color: white;
    box-shadow: #d0d0d0 5px 9px 20px 0px;
    position: relative;
    bottom: 3em;
}

#middle-container > p {
    font-size: 1.5em;
    font-weight: 700;
}

#bottom-container {
    display: flex;
    flex-direction: column;
}

form {
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: 1em;
}

form > div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    font-weight: 700;
    color: rgb(84, 84, 84);
}

input {
    width: 200px;
    height: 23px;
    border-radius: 3px;
    border: 1px solid rgb(178, 178, 178);
    outline: none;
}

input:focus {
    border: 1px solid rgb(79, 157, 235);
    box-shadow: #d0d0d0 5px 9px 15px 0px;
}

.password:invalid {
    border: 1px solid red;
}

#submit {
    width: 200px;
    height: 50px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 7px;
}

span {
    color: var(--main-color);
}